body {
    font-family: Arial;
    background: #f4f6f9;
    margin: 0;
    padding: 20px;
}

h2 {
    text-align: center;
}

.container {
    max-width: 900px;
    margin: auto;
}

.card {
    background: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card:hover {
    transform: scale(1.02);
    transition: 0.2s;
}

.fiyat {
    font-size: 18px;
    font-weight: bold;
}

.ucuz {
    color: green;
}

.geri-btn {
    display: block;
    width: 200px;
    margin: 30px auto;
    text-align: center;
    padding: 15px;
    font-size: 18px;
    background: #007bff;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s;
}

.geri-btn:hover {
    background: #0056b3;
    transform: scale(1.05);
}

.ozellik {
    display: none;
    color: gray;
    font-size: 13px;
}

.card:hover .ozellik {
    display: block;
}